.contentSec {
  color: #0c0c0c !important;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 5px;
    text-align: justify;
    
}

.w20p {
  width: 7%;
  display: inline-block;
  font-weight: 600;
  color: black;
  letter-spacing: 0px;
}

.navButton {
  padding: 0px;
}
.navButton li a {
 color: #fff !important;
 text-decoration: none;
}

.navButton li {
  list-style-type: none;
  display: inline-block;
}

.right {
  float: right;
}

ul {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.MuiBox-root-2 {
  height: auto;
}

.contentSec .w20p+span {
  padding: 5px;
}

@media (max-width:320px) {
  .w20p {
    width: 35%;
  }
}

@media (min-width:321px) and (max-width:425px){
  .w20p {
    width: 27%;
  }
}

@media (max-width:425px) {
  .contentSec {
    color: #0c0c0c !important;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    text-align: left;
  }
  .makeStyles-root-5,.makeStyles-root-6 {
    bottom:50px !important;
  }
}

@media (min-width:426px) and (max-width:768px){
  .w20p {
    width: 20%;
  }
}

